.fondo-menu{
	background-image: url(img/fondo-menu.png);
	background-size: 100%;
}
.menu{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.menu li{
	list-style: none;
	display: inline;
}
.menu a{
	color: #fff;
	margin: 2em;
	
	font-size: 19px;
	margin-top: 15px;
}
.contenido img{
	width: 100%;
}
.bienvenida h2{
	color: #0B610B;
	text-align: center;
	font-family: "Baskerville Old Face";
	font-weight: bold;
	margin-top: 2em;
	font-size: 25px;
}
.bienvenida p{
	text-align: center;
	font-size: 18px;
	font-family: "Monotype Corsiva";
	margin-left: 2em;
}
.verde{
	background:#04B404;
	color: #fff;
	text-align: center;
	padding: 10px; 
}
.verde img{
	width: 100%;
}
.celeste{
	background:#00BFFF;
	color: #fff;
	text-align: center;
	padding: 10px; 
}
.celeste img{
	width: 100%;
}
.beige{
	background:#DBA901 ;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.beige img{
	width: 100%;
}